<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/dashboard">dashboard</a></li>
        </ul>
    </nav>

    <div>
        <marquee width="60%" direction="left" height="100px"><h1 >welcome to your dashboard</h1></marquee>

    </div>
</form>

</body>
</html>