<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>

    <nav>
        <ul>
            <li><a href="/Signup">Signup</a></li>
            <li><a href="/login">login</a></li>
        </ul>
    </nav>
    <div>
        <h1>SIGN UP</h1>
        <form>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <div class="emailError"></div>
            <div>
                <label for="password">password</label>
                <input type="password" id="password" name="password" required>
                <div class="passwordError"></div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
    </div>
  
<script>
    const form = document.querySelector("form");
    const emailError = document.querySelector(".emailError");
    const passwordError = document.querySelector(".passwordError");
    
    form.addEventListener("submit", async (e) =>{
        e.preventDefault();

        const email = form.email.value;
        const password = form.password.value;

        const res =  await fetch("/register",{
            method: "POST",
            headers: { "Content-Type": "application/json"},
            body: JSON.stringify({email,password}),

        });
        
        const result = await res.json();
        if (result.success) {
            location.assign("/login")
        } else {
            emailError.textContent = result.errors.email;
            passwordError.textContent = result.errors.password
        }
    });
</script>

</body>
</html>